@font-face {
    font-family:'NotoSanskr_Regular';
    src : url('font/NotoSanskr_Regular.eot'),
    url('font/NotoSanskr_Regular.woff') format('woff'),
    url('font/NotoSanskr_Regular.woff2') format('woff2'),
    url('font/NotoSanskr_Regular.ttf') format('truetype');
    font-style:normal;
  }